<h1 id="tableLabel">Weather forecast</h1>

<p>Enter a location to find the latest weather information</p>
<form>

    <div class="form-group">
        <label for="locationSearchInput">City:</label>
        <input #test list="id-car" type="text" class="form-control-sm" style="margin: 0 20px" id="locationSearchInput" placeholder="Glasgow" value="">
        <datalist id="id-car" class="form-control-sm">
            <option *ngFor="let city of citiesList" [value]="city.key">{{city.name}}</option>
        </datalist>
        <button value="Use current location" class="btn btn-primary" style="padding: 1px 3px" (click)="getCurrentLocation()">
            Use current location
        </button>
    </div>
</form>
<p *ngIf="loading"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
